<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Authentification</title>
</head>
<body>

	<div class="container center">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="panel-title">Authentification</h3>
					</div>
					<div class="panel-body">
						<form th:action="
							@{/maquetteLogin}" method="post">
							<div class="form-group">
								<!-- Pour un formulaire d'authentification, l'input du nom d'utilisateur doit obligatoirement s'appeler username -->
								<label class="control-label">Nom d'utilisateur</label> <input
									type="text" class="form-control" name="username"
									placeholder="Entrer votre nom d'utilisateur" />
							</div>
							<div class="form-group">
								<!-- Pour un formulaire d'authentification, l'input du mot de passe doit obligatoirement s'appeler password -->
								<label class="control-label">Mot de passe</label> <input
									type="password" class="form-control" name="password"
									placeholder="Entrer votre mot de passe" />
							</div>
							<button type="submit" class="btn btn-primary">S'authentifier</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery-3.4.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>