@charset "UTF-8";

.vertical-align {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.pad-bottom {
	padding-bottom: 20px;
}

.texte-noir {
	color: black;
}

.fond-blanc {
	background-color: white;
}

.select-no-left-right-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.no-right-padding {
	padding-right: 0px;
}

.no-left-padding {
	padding-left: 0px;
}

.no-bottom-top-padding {
	padding-bottom: 0px;
	padding-top: 0px;
}

.no-bottom-padding {
	padding-bottom: 0px;
}

.no-top-padding {
	padding-top: 0px;
}

.no-top-margin {
	margin-top: 0px;
}

.ui-menu-item {
	background-color: #d9d9d9;
}

.ui-menu-item-wrapper:hover {
	border: none;
	background-color: #877060;
}

.ui-widget-content .ui-state-active {
	border: none;
	background-color: #877060;
}