@charset "UTF-8";

.body-with-nav-pills {
	padding-top: 56px;
}

.body-without-nav-pills {
	padding-top: 70px;
}

.body-with-breadcrumb {
	padding-top: 52px;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand>img {
	margin: -10px auto auto auto;
}