@charset "UTF-8";

.vertical-align {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.pad-bottom {
	padding-bottom: 20px;
}

.texte-noir {
	color: black;
}

.fond-blanc {
	background-color: white;
}

.select-no-left-right-padding {
	padding-left: 0px;
	padding-right: 0px;
}