@charset "UTF-8";

.body-with-nav-pills {
	padding-top: 56px;
}

.body-without-nav-pills {
	padding-top: 70px;
}

.body-with-breadcrumb {
	padding-top: 52px;
}

@media screen and (max-width: 768px) {
	.body-with-nav-pills {
		padding-top: 296px;
	}
	.body-without-nav-pills {
		padding-top: 310px;
	}
	.body-with-breadcrumb {
		padding-top: 292px;
	}
}

.navbar-brand {
	padding: 0;
}

.navbar-brand>img {
	margin: -10px auto auto auto;
}

.dropdown-menu-content-width {
	min-width: 0px !important;
}

.ui-menu-item {
	background-color: #d9d9d9;
}

.ui-menu-item-wrapper:hover {
	border: none;
	background-color: #877060;
}

.ui-widget-content .ui-state-active {
	border: none;
	background-color: #877060;
}

.popover {
	width: 180px;
}

li[class~="disabled"] .overlap {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	cursor: not-allowed;
}

.overlap {
	display: none;
}