@charset "UTF-8";

body {
	padding-top: 56px;
}

.vertical-align {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand>img {
	margin: -10px auto auto auto;
}

.pad-bottom {
	padding-bottom: 20px;
}

.texte-noir {
	color: black;
}

.fond-blanc {
	background-color: white;
}