<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ami_layout.html}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title th:text="#{message.ajoutSecteur}"></title>
</head>
<body class="body-without-nav-pills">

	<div layout:fragment="content">
		<div th:if="${messagePlanEnregistreAvecSucces}"
			class="alert alert-success alert-dismissible fade in">
			<a class="close" data-dismiss="alert"><span
				class="glyphicon glyphicon-remove"></span></a><span
				class="glyphicon glyphicon-ok-sign"></span>
			[[${messagePlanEnregistreAvecSucces}]]
		</div>
		<form class="form-horizontal"
			th:action="@{'/ami/spot/'+${spotId}+'/secteur/nouveau'}"
			th:object="${nouveauSecteurForm}" method="post">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{message.ajoutNouveauSecteur}"></h3>
				</div>
				<div class="list-group">
					<div class="list-group-item">
						<div class="form-group">
							<label class="control-label col-lg-1"
								th:text="#{message.spot}+(${nouveauSecteurForm.isNotNull('nomSpot')} ? ' *' : '')"></label>
							<div class="col-lg-11">
								<input type="text" class="form-control cursor-disabled"
									th:field="*{nomSpot}" readonly>
							</div>
						</div>
						<div class="form-group"
							th:classappend="${nomErreur!=null} ? 'has-error has-feedback' : ''">
							<label class="control-label col-lg-1"
								th:text="#{message.nom}+(${nouveauSecteurForm.isNotNull('nom')} ? ' *' : '')"></label>
							<div class="col-lg-11">
								<input type="text" class="form-control" th:field="*{nom}">
								<span th:if="${nomErreur!=null}"
									class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span th:if="${nomErreur!=null}" th:text="${nomErreur}"
									class="text-danger"></span>
							</div>
						</div>
						<div class="form-group"
							th:classappend="${nomPlanErreur!=null} ? 'has-error has-feedback' : ''">
							<label class="control-label col-lg-1"
								th:text="#{message.plan}+(${nouveauSecteurForm.isNotNull('nomPlan')} ? ' *' : '')"></label>
							<div class="col-lg-11">
								<div class="input-group">
									<input type="text" class="form-control" th:field="*{nomPlan}"
										id="plan" th:placeholder="#{message.entrerPlanExistant}">
									<div class="input-group-btn">
										<a th:href="@{/ami/plan/nouveau}" class="btn btn-default"
											role="button"><span class="glyphicon glyphicon-plus"></span>
											[[#{message.nouveauPlan}]]</a>
									</div>
								</div>
								<span th:if="${nomPlanErreur!=null}"
									class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span th:if="${nomPlanErreur!=null}" th:text="${nomPlanErreur}"
									class="text-danger"></span>
							</div>
						</div>
						<div class="form-group"
							th:classappend="${descriptionErreur!=null} ? 'has-error has-feedback' : ''">
							<label class="control-label col-lg-1"
								th:text="#{message.description}+(${nouveauSecteurForm.isNotNull('description')} ? ' *' : '')"></label>
							<div class="col-lg-11">
								<textarea class="form-control" rows="5"
									th:field="*{description}"></textarea>
								<span th:if="${descriptionErreur!=null}"
									class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span th:if="${descriptionErreur!=null}"
									th:text="${descriptionErreur}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group"
							th:classappend="${remarqueErreur!=null} ? 'has-error has-feedback' : ''">
							<label class="control-label col-lg-1"
								th:text="#{message.remarque}+(${nouveauSecteurForm.isNotNull('remarque')} ? ' *' : '')"></label>
							<div class="col-lg-11">
								<textarea class="form-control" rows="5" th:field="*{remarque}"></textarea>
								<span th:if="${remarqueErreur!=null}"
									class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span th:if="${remarqueErreur!=null}"
									th:text="${remarqueErreur}" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="list-group-item text-center no-bottom-padding-margin">
						<ul class="list-inline list-inline-no-spacing">
							<li><button type="submit" class="btn btn-primary btn-lg">
									<span class="glyphicon glyphicon-save"></span>
									[[#{message.enregistrer}]]
								</button></li>
							<li><a class="btn btn-danger btn-lg" role="button"
								th:href="@{'/ami/spot/'+${spotId}+'?page='+${page}+'&size='+${size}}"><span
									class="glyphicon glyphicon-remove"></span>
									[[#{message.annuler}]]</a></li>
						</ul>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- layout:fragment -->

</body>
</html>