<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title th:text="#{message.authentifier}"></title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img src="img/logo_amical_pour_fond_fonce.png"
					th:alt="#{message.lesAmisDeLEscalade}">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 pad-bottom"></div>
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-5 vertical-align">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						<h3 class="panel-title" th:text="#{message.authentification}"></h3>
					</div>
					<div class="panel-body">
						<form th:action="@{/authentification}" method="post">
							<p th:if="${param.erreur}" class="text-danger">
								<span class="glyphicon glyphicon-warning-sign"></span>
								[[#{message.authentificationErreur}]]
							</p>
							<p th:if="${param.deconnexion}" class="text-success">
								<span class="glyphicon glyphicon-ok-sign"></span>
								[[#{message.deconnexionReussit}]]
							</p>
							<div class="form-group">
								<label class="control-label" th:text="#{message.adresseEmail}"></label>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-envelope"></i></span> <input type="text"
										class="form-control" name="email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" th:text="#{message.motDePasse}"></label>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input type="password"
										class="form-control" name="motDePasse">
								</div>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-log-in"></i></span>
								<button type="submit" class="btn btn-primary btn-block btn-lg"
									th:text="#{message.authentifier}"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-5 vertical-align">
				<img class="img-responsive" src="img/undraw_authentication_fsn5.svg"
					alt="undraw_authentication_fsn5">
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<a class="btn btn-default navbar-btn" role="button"
					th:href="@{/visiteur/accueil}"> <span
					class="glyphicon glyphicon-home"></span>
					[[#{message.retourPageAccueil}]]
				</a>
			</div>
		</div>
	</div>
	<!-- container -->

</body>
</html>