<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Layout</title>
</head>
<body>

	<!-- L'entête est toujours affichée sur toutes les pages -->
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Les amis de l'escalade</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Accueil</a></li>
					<li><a href="#">Spots</a></li>
					<li><a href="#">Topos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							S'inscrire</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
							S'authentifier</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Grégory <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Mes topos</a></li>
							<li><a href="#">Topos disponibles</a></li>
							<li><a href="#">Mes réservations</a></li>
							<li class="divider"></li>
							<li><a href="#">Me déconnecter</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- layout:fragment="content" signifie que c'est le contenu de la page active qui est affichée -->
	<section layout:fragment="content"></section>

	<footer></footer>

	<script th:src="@{/js/jquery-3.4.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>