<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{visiteur_layout.html}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title th:text="#{message.longueur}"></title>
</head>
<body class="body-without-nav-pills">

	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a th:href="@{/visiteur/accueil}" data-toggle="tooltip"
						data-placement="bottom" th:title="#{message.accueil}"><span
							class="glyphicon glyphicon-home"></span></a></li>
					<li><a
						th:href="@{/visiteur/spot/recherche/resultat(page=${pageNumber},size=${pageSize})}"
						data-toggle="tooltip" data-placement="bottom"
						th:title="#{message.rechercheSpot}"><span
							class="glyphicon glyphicon-search"></span></a></li>
					<li><a
						th:href="@{'/visiteur/spot/'+${spot.id}+'?page='+${pageNumber}+'&size='+${pageSize}}"
						th:text="${spot.nom}"></a></li>
					<li><a
						th:href="@{'/visiteur/spot/'+${spot.id}+'/secteur/'+${secteur.id}+'?page='+${pageNumber}+'&size='+${pageSize}}"
						th:text="${secteur.nom}"></a></li>
					<li><a
						th:href="@{'/visiteur/spot/'+${spot.id}+'/secteur/'+${secteur.id}+'/voie/'+${voie.id}+'?page='+${pageNumber}+'&size='+${pageSize}}"
						th:text="${voie.toString()}"></a></li>
					<li class="active" th:text="${longueur.nom}"></li>
				</ul>
				<div class="row line-spacer">
					<div class="col-lg-12">
						<h1 class="no-top-margin"
							th:text="#{message.longueur} + ' ' + ${longueur.nom}"></h1>
					</div>
				</div>
				<h2 th:text="#{message.description}"></h2>
				<p
					th:text="${longueur.description==null} ? '-' : ${longueur.description}"></p>
				<h2 th:text="#{message.remarque}"></h2>
				<p th:text="${longueur.remarque==null} ? '-' : ${longueur.remarque}"></p>
				<div class="row">
					<div class="col-lg-6">
						<h2 th:text="#{message.longueur} + ' ' + #{message.uniteMetre}"></h2>
						<p
							th:text="${longueur.longueur==null} ? '-' : ${longueur.longueur}"></p>
					</div>
					<div class="col-lg-6">
						<h2 th:text="#{message.nbSpits}"></h2>
						<p th:text="${longueur.nbSpits==null} ? '-' : ${longueur.nbSpits}"></p>
					</div>
				</div>
				<div th:if="${longueur.plan!=null}">
					<div class="vertical-spacer"></div>
					<img
						class="img-responsive img-hover no-top-padding no-top-margin center-block"
						data-toggle="modal"
						th:data-target="'#modalPlanLongueur'+${longueur.id}"
						th:src="@{${cheminPlan}+${longueur.plan.plan}}">
					<div th:id="'modalPlanLongueur'+${longueur.id}"
						class="modal modal-fullscreen fade" role="dialog">
						<div class="modal-dialog modal-dialog-fullscreen">
							<div class="modal-content modal-content-fullscreen">
								<div class="modal-header modal-header-fullscreen">
									<button type="button" class="close" data-dismiss="modal">
										<span><img th:src="@{/img/close_white_24_24.png}"></span>
									</button>
									<h1 class="modal-title modal-title-fullscreen text-center"
										th:text="#{message.longueur}+ ' ' + ${longueur.nom}"></h1>
								</div>
								<div class="modal-body modal-body-fullscreen text-center">
									<img th:src="@{${cheminPlan}+${longueur.plan.plan}}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- layout:fragment -->

</body>
</html>