<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{visiteur_layout.html}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Accueil</title>
</head>
<body>

	<ul class="nav nav-pills pad-bottom" layout:fragment="navigation">
		<li class="active"><a data-toggle="pill" href="#qui_sommes_nous">Qui
				sommes-nous ?</a></li>
		<li><a data-toggle="pill" href="#comment_ca_marche">Comment
				ça marche ?</a></li>
	</ul>

	<div class="tab-content" layout:fragment="content">
		<div id="qui_sommes_nous" class="tab-pane fade in active">
			<div class="well well-sm">
				<h1 class="text-center">Bienvenue sur le site communautaire !</h1>
			</div>
			<div id="carousel_accueil_visiteur" class="carousel slide"
				data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel_accueil_visiteur" data-slide-to="0"
						class="active"></li>
					<li data-target="#carousel_accueil_visiteur" data-slide-to="1"></li>
					<li data-target="#carousel_accueil_visiteur" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img th:src="@{/img/communaute_escalade_1280_740.jpg}" alt="">
						<div class="carousel-caption">
							<h3>Communauté</h3>
							<p>Association de partages et d'échanges</p>
						</div>
					</div>
					<div class="item">
						<img th:src="@{/img/spot_escalade_1280_740.jpg}" alt="">
						<div class="carousel-caption">
							<h3>Spots</h3>
							<p>Recensement des sites de grimpe</p>
						</div>
					</div>
					<div class="item">
						<img th:src="@{/img/topo_escalade_1280_740.jpg}" alt="">
						<div class="carousel-caption">
							<h3 class="texte-noir fond-blanc">Topos</h3>
							<p class="texte-noir fond-blanc">Recueils topographiques</p>
						</div>
					</div>
				</div>
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#carousel_accueil_visiteur"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left"></span>
				</a> <a class="right carousel-control" href="#carousel_accueil_visiteur"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
			<div class="pad-bottom"></div>
			<div class="well well-sm">
				<h1 class="text-center">Les amis de l'escalade</h1>
				<h3>"Les amis de l'escalade" est une association qui réunit les
					passionnés d’escalade dans toute la France.</h3>
			</div>
		</div>
		<div id="comment_ca_marche" class="tab-pane fade">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pour les grimpeurs de passage</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="thumbnail">
								<img th:src="@{/img/undraw_searching_p5ux.svg}"
									class="img-rounded" alt="Recherchez des spots">
								<div class="caption">
									<h3>Recherchez des spots</h3>
									<p>Rechercher des sites de grimpe dans toute la France en
										fonction de plusieurs critères (région, cotation, spots
										officiels, ...)</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail">
								<img th:src="@{/img/undraw_detailed_examination_joef.svg}"
									class="img-rounded" alt="Consultez informations spot">
								<div class="caption">
									<h3>Consultez un spot</h3>
									<p>Consulter les informations détaillées d'un site de
										grimpe (secteurs, voies, longueurs, ...)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pour les grimpeurs inscrits</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="thumbnail">
								<img th:src="@{/img/undraw_share_766i.svg}" class="img-rounded"
									alt="Partage informations">
								<div class="caption">
									<h3>Partagez vos informations</h3>
									<p>Complétez et ajoutez des informations sur les sites de
										grimpe. Participez au recensement de nouveaux spots sur le
										site communautaire.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail">
								<img th:src="@{/img/undraw_booking_33fn.svg}"
									class="img-rounded" alt="Partage informations">
								<div class="caption">
									<h3>Recherchez et empruntez des topos</h3>
									<p>Mettez à disposition vos topos et empruntez les topos
										d'autres grimpeurs passionnés.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail">
								<img th:src="@{/img/undraw_community_8nwl.svg}"
									class="img-rounded" alt="Mise en relation">
								<div class="caption">
									<h3>Mettez-vous en relation</h3>
									<p>Favorisez les relations et les échanges entre grimpeurs
										en créant un réseau de contacts.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="thumbnail">
								<img th:src="@{/img/undraw_profile_6l1l.svg}"
									class="img-rounded" alt="Les amis de l'escalade">
								<div class="caption">
									<h3>Gérez votre espace personnel</h3>
									<p>Recensez vos topos personnels et gérez vos prêts et
										emprunts de topos.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail">
								<img th:src="@{/img/undraw_share_opinion_jpw0.svg}"
									class="img-rounded" alt="Commentaires et impression">
								<div class="caption">
									<h3>Laissez vos commentaires et impressions</h3>
									<p>Enrichissez la communauté de grimpeurs de vos
										expériences, impressions et conseils en laissant des
										commentaires sur les sites de grimpe.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery-3.4.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>