<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{visiteur_layout.html}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Accueil</title>
</head>
<body>

	<ul class="nav nav-pills nav-stacked" layout:fragment="navigation">
		<li class="active"><a data-toggle="pill" href="#qui_sommes_nous">Qui
				sommes-nous ?</a></li>
		<li><a data-toggle="pill" href="#presentation_site">Présentation
				du site</a></li>
	</ul>

	<div class="tab-content" layout:fragment="content">
		<div id="qui_sommes_nous" class="tab-pane fade in active">
			<div class="jumbotron">
				<h1>Bienvenue sur le site communautaire "les amis de
					l'escalade" !</h1>
				<p>"Les amis de l'escalade" est une association qui réunit les
					passionnés d’escalade dans toute la France.</p>
			</div>
		</div>
		<div id="presentation_site" class="tab-pane fade">
			<div class="row">
				<div class="col-lg-4">
					<div class="thumbnail">
						<img th:src="@{/img/relationship_icon_512_512.png}"
							class="img-rounded" alt="Les amis de l'escalade">
						<div class="caption">
							<h3>Mise en relation</h3>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget
								quam. Donec id elit non mi porta gravida at eget metus. Nullam
								id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="thumbnail">
						<img th:src="@{/img/logo_amical_pour_fond_fonce.png}"
							class="img-rounded" alt="Les amis de l'escalade">
						<div class="caption">
							<h3>Partage d'informations</h3>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget
								quam. Donec id elit non mi porta gravida at eget metus. Nullam
								id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="thumbnail">
						<img th:src="@{/img/logo_amical_pour_fond_fonce.png}"
							class="img-rounded" alt="Les amis de l'escalade">
						<div class="caption">
							<h3>Espace personnel</h3>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget
								quam. Donec id elit non mi porta gravida at eget metus. Nullam
								id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery-3.4.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>