<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style_navbar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}" />
<title>Layout</title>
</head>
<body>

	<header>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" data-toggle="tooltip"
						title="Les amis de l'escalade" data-placement="bottom" href="#"><img
						alt="Les amis de l'escalade"
						th:src="@{/img/logo_amical_montagne.png}"></a>
				</div>
				<ul class="nav navbar-nav">
					<li th:class="${accueilActive}"><a
						th:href="@{/visiteur/accueil}">Accueil</a></li>
					<li th:class="${spotActive}"><a
						th:href="@{/visiteur/spot/recherche}">Spots</a></li>
					<li class="disabled" data-toggle="popover" data-trigger="hover"
						data-placement="bottom" title="Accès réservé !"
						data-content="La recherche et le partage de topos sont réservés aux membres inscrits."><a
						href="#"><span class="text-muted">Topos</span></a></li>
				</ul>
				<div class="navbar-right">
					<a class="btn btn-primary navbar-btn" role="button"
						th:href="@{/inscription}"> <span
						class="glyphicon glyphicon-user"></span> S'inscrire
					</a> <a class="btn btn-success navbar-btn" role="button"
						th:href="@{/login}"> <span class="glyphicon glyphicon-log-in"></span>
						S'authentifier
					</a> <a class="navbar-btn" style="margin-left: 10px;"
						data-toggle="tooltip" title="Français" data-placement="bottom"
						href="#"><img alt="Drapeau France"
						th:src="@{/img/france_flag_icon_24_20.png}"></a> <a
						class="navbar-btn" data-toggle="tooltip" title="English"
						data-placement="bottom" href="#"><img
						alt="Drapeau Royaume-Uni"
						th:src="@{/img/united_kingdom_flag_icon_24_20.png}"></a>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<section layout:fragment="content"></section>
	</div>

	<footer></footer>

	<script th:src="@{/js/jquery-3.4.1.js}"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('[data-toggle="popover"]').popover();
		});
	</script>
	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<script>
		$(function() {
			$('#nomSpot').autocomplete({
				source : "/visiteur/spot/recherche/nomSpot"
			});
			$('#lieuSpot').autocomplete({
				source : "/visiteur/spot/recherche/lieuSpot"
			});
			$('#nomSecteur').autocomplete({
				source : "/visiteur/spot/recherche/nomSecteur"
			});
			$('#nomVoie').autocomplete({
				source : "/visiteur/spot/recherche/nomVoie"
			});
		});
	</script>

</body>
</html>