<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Layout</title>
</head>
<body>

	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img
						alt="Les amis de l'escalade"
						th:src="@{/img/logo_amical_montagne.png}"></a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/visiteur/accueil}">Accueil</a></li>
					<li><a href="#">Spots</a></li>
					<li class="disabled" data-toggle="popover" data-trigger="hover"
						data-placement="bottom" title="Accès réservé !"
						data-content="La recherche et le partage de topos sont réservés aux membres inscrit."><a
						href="#">Topos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							S'inscrire</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
							S'authentifier</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<nav layout:fragment="navigation"></nav>
			</div>
			<div class="col-lg-10">
				<section layout:fragment="content"></section>
			</div>
		</div>
	</div>

	<footer></footer>

	<script th:src="@{/js/jquery-3.4.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('[data-toggle="popover"]').popover();
		});
	</script>

</body>
</html>